
.page{
    justify-content: center;
      align-items: center;
    margin-left: 39%;
    margin-top: 10%;
      font-size: 300%;
    display: inline-block;
      height: 100%;
      top: -15%;
  }
  
  .btn{
  font-size: 60%;
  position: relative;
  top: 15vh;
  padding: 18px;
  padding-left: 45px;
  padding-right: 48px;
  border: none;
  border-radius: 10px;
  margin-left: 3px;
  background: none;
  background-color: #007cd2;
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.411);
  }
  
  .btn2{
    font-size: 60%;
  position: relative;
  top: 15vh;
  padding: 18px;
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: 5px;
  border: none;
  background-color: #e70010;
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.411);
  
  }
  .container_text{
    font-size: 120%;
    margin-left: 45%;
    position: relative;
    top: 10vh;
  }